body {
    font-family: "Courier New", monospace;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    font-size: font-size;
}

p {
    padding: 50px 0 30px;
    margin: 0;
    text-transform: uppercase;
}

.box {
    display: inline-block;
    vertical-align: top;
    width: 320px;
    height: 320px;
    margin: 20px;
    border: 5px solid #000;
    line-height: 320px;
}